{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-shadow": [
      2,
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "error", "props"]
      }
    ],
    "import/no-unresolved": "off"
  }
}
